@page
@model CartModel

<h2>你的购物车</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>数量</th>
            <th>商品</th>
            <th class="text-right">价格</th>
            <th class="text-right">总价</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">总数：</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a href="@Model.ReturnUrl" class="btn btn-primary">
        继续购物
    </a>
</div>